<%= link_to "new", new_employee_path %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
      <th>Password confirm</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td> <%= employee.name %> </td>
        <td> <%= employee.email %> </td>
        <td> <%= employee.password %> </td>
        <td> <%= employee.password_confirm %> </td>
        <td> <%= link_to "show", employee_path(employee) %> </td>
        <td> <%= link_to "edit", employee_path(employee) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
