<nav class="navbar navbar-default">
<div class="container-fluid">
<div class="navbar-header">
<%= link_to "insall", "#" , class: "navbar-brand" %>
</div>
<ul class="nav navbar-nav">
<li class="active"><%= link_to "home", static_pages_home_path %></li>
<li><%= link_to "about", static_pages_about_path %></li>
<li><%= link_to "help", static_pages_help_path %></li>
<li><%= link_to "contact", static_pages_contact_path %></li>
<li><%= link_to "login", static_pages_login_path %></li>
<li><%= link_to "register", static_pages_register_path %></li>
</ul>
</div>
</nav>
